body {
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #000307;
    margin: auto;

    background-color: #fefefb;

    overflow-x: hidden;
    
}

img {
    display: block;
    max-width: 360;
    height: 200;
}
  
 body {
    margin: 0;
  }
  .main {
    display: flex;
    flex-wrap: wrap;
  }
  .aside, .main {
    width: 100%;
    min-height: 1px;
  }
  @media (min-width: 330px) {
  .aside {
    flex: 0 0 33.333333%;
    max-width: 100%;
    order: 1;
  }
  .main {
    flex: 0 0 70%;
    max-width: 100%;
    order: 2;
  }
  }
  @media (min-width: 1400px) {
  .aside {
    flex: 0 0 25%;
    max-width: 100%;
  }
  .main {
    flex: 0 0 75%;
    max-width: 100%;
  }
  }

section {
  margin: 50px;
  padding: 20px;
  background-color: #ffffff;
}