.parent {
    display: flex;
    justify-content: center;
  }
  .conteiner {
    width: 100px;
    margin: auto;
  }

    body {
       
        height: 100%;
        margin: 0;
        padding: 0;
      }
      body {
        
        background: url('https://elsu.ru/uploads/posts/2022-06/1654867493_1ii.jpg') no-repeat center center fixed;
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover;
      }
      .login { position: absolute; right: 0px; top: 112px; text-decoration:none; font-size: 16px; color: #000000; font-weight: bold; }
    
      #navbar {
        margin: 150;
        padding: 150;
        list-style-type: none;
        border: 2px solid #0066FF;
        border-radius: 25px 5px;
        width: 550px;
        text-align: center;
        background-color: #33ADFF;
      }
      #navbar li { display: inline; }
      #navbar a {
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width: 100px;
      }
      #navbar a:hover {
        border-radius: 20px 5px;
        background-color: #0066FF;
      }
  /*  */