html {
    background-image: url(https://elsu.ru/uploads/posts/2022-06/1654867493_1ii.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
  }