* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fffffb;
  padding: 20px 10px;
}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #212121;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

header a.logo {
  font-size: 50px;
  font-weight: bold;
}

header a.active {
  background-color: #f7f6f3;
}


  .header__link {
    text-decoration: none;
    margin: 50px;
    margin-top: 5px;
    border: 20px;
    border-radius: 5%;
    border-color: aquamarine;
  }
.header {
display:flex;
flex-direction: row;
width: 1440px;}

    