.main {
    width: 1440px;
    border: none;
    background-color: aliceblue;
    border-color: aquamarine;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {box-sizing: auto;}

body { 
  margin: 0;
  font-family: Montserat, sans-serif;
}



.wrap-logo {
  display: flex;
  align-items: center;
 
}

.main a {
  color: #212121;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a.active {
  background-color: #9dd6a0;
}

nav {
  display: flex;
  align-items: center;
  }


 