.main__tittle {
font-family: Montserrat, sans-serif;
font-size: normal;
font-weight: normal;
margin: auto;
padding: auto;
color:black;
border: 20px;
border-radius: 6%;
border-color: blue;
width: 260;
}

.header__tittle {
font-family: Montserrat, sans-serif;
font-size: large;
font-weight: normal;
margin: auto;
padding: 20px 30px;
color:black;
border: none;
}

.footer__tittle {
    font-family: Montserrat, sans-serif;
    font-size: normal;
    font-weight: normal;
    margin: auto;
    padding: auto;
    color:black;
    border: 20px;
    border-radius: 6%;
    border-color: blue;
    width: 260;
    }